.CardProduct{
  gap:82px;
  display: flex;

width: 95%;
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 40%;
    background-color: #0A0A0A;
    margin-left: 15%;
   
  }
  .Wine{
    margin-left: 35%;
    margin-top: -30%;
    width: 176px;
  }
  .grid-container > div {
    width: 570px;
    height: 457px;
    background-color: #0A0A0A;
  }
  .ProductDecriptionContainer{
    margin-top:6%;
    display: flex;
    flex-direction: column;
  }
  .ProductTitle{
    display: flex;
    margin-top: 120px;
    margin-left: 137px;
    gap: 198px;
  }
  
  .card-right2{
    display: flex;
    align-items: center;
    gap: 26px;
  }
  .pright1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 7px;
letter-spacing: 0.25em;
text-transform: uppercase;
color: #FFFFFF;
  }
.haut{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 7px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 11%;
}
.hr{
  margin-top: 5%;
  width: 320px;
height: 0px;

opacity: 0.25;
border: 0.885042px solid #FFFFFF;
}
.hr1{
  margin-top: 15%;
  width: 320px;
height: 0px;

opacity: 0.25;
border: 0.885042px solid #FFFFFF;
}
.pright2{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 30px;
letter-spacing: 0.3em;
text-transform: uppercase;
margin-top: 5%;
color: #FFFFFF;
}
.pright3{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 30px;
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;

}
.p-right4{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 37px;
letter-spacing: 0.55em;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.35;
}
.p-right5{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
letter-spacing: 0.3em;
text-transform: uppercase;

color: #FFFFFF;

}
.button-cart{
  width: 202px;
  height: 49px;
  border: none;
  background-color: #7A0000;
  margin-top: 22%;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.35em;

color: #FFFFFF;
  
}
.Description{
  display: flex;
  margin-top: 89px;
  gap: 193px;
  margin-left: 137px;
}
.images-leaf{
  display: flex;
  align-items:center;

  gap: 36px;
  margin-top: 91px;
}
.p-right-end1{
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 3px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin-top: 9%;
  color: #FFFFFF;
  opacity: 0.5;
}
.p-right-end2{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 16px;
letter-spacing: 0.25em;
text-transform: uppercase;
margin-top: 3%;
color: #FFFFFF;
}
.p-right-end11{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 3px;
letter-spacing: 0.25em;
text-transform: uppercase;

color: #FFFFFF;

opacity: 0.5;
}
.p-right-end22{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 16px;
letter-spacing: 0.25em;
text-transform: uppercase;
margin-top: 3%;
color: #FFFFFF;
}
.p-right-end111{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 3px;
letter-spacing: 0.25em;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
}
.p-right-end222{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 16px;
letter-spacing: 0.25em;
text-transform: uppercase;
margin-top: 11px;
color: #FFFFFF;

}
.card-right-end1{
 
  display: flex;
  flex-direction: column;
  gap: 25px;

}
.card-right-end2{
 
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-top: 13px;


}
.card-right-end3{
margin-top: 13px;

}
.ParagraphTitle{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 4px;
letter-spacing: 0.25em;
text-transform: uppercase;
margin-bottom: 3%;
color: #FFFFFF;

opacity: 0.5;
}
.ParagraphBox{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;

text-transform: uppercase;

color: #FFFFFF;
}
.CardInfo{
  padding-top: 15%;
    padding-left: 13%;
}
.legend-part{
  margin-top: 10%;
}
.vinification-part{
  margin-top: 10%;
}
.p{
  font-family: 'Inter';
font-style: normal;
color: #FFFFFF;
}
.card-right3{
  margin-left: 15%;
}
}




