.errorpage {
  
    background-image: url(../ErrorPage//Error.png);
    height: 778px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 75px;
    
}

  .oops {
    margin-top: 84px;
    margin-left: 60px;
  }
.error{
  width: 1787px;
}
  .look {
    font-family: "Inter";
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: white;
    padding: 307px 40px 71px 74px;
  }

  .number {
display: flex;
justify-content: space-between;
  }
.four{
  font-family: 'Inter';
font-weight: 800;
font-size: 17.3431px;
line-height: 21px;

text-align: center;
letter-spacing: 0.5em;
margin-top: 63px;
margin-right: 60px;
color: #FFFFFF;
}
