.errorpage {

    width: 100%;
    height: 560px;
    background: url('./Error.png');
    margin-left: auto;
    margin-right: auto;
padding-bottom: 10px;

    .ops {
        font-family: 'Alex Brush';
        color: white;
        font-weight: 400;
        font-size: 82px;
        line-height: 102px;
       padding: 1px 43px;

    }

    .look {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: white;
        padding: 160px 40px 60px 44px;
    }
  
    .number{
        font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 17.3431px;
line-height: 21px;
text-align: center;
letter-spacing: 0.5em;
color: #FFFFFF;
padding: 45px 38px 10px 1184px
    }
}