.container {

  .slide1 {

    background-image: url("../../../assets/Images/Rectangle\ 3.png");
    background-size: cover;
    width: 100%;
    height: 430px;
  }

  .for-2writes {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .empty {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6%;


    }

    .second-div {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: 3%;
      row-gap: 10%;
      padding-left: 47%;

      .for-image {
        display: flex;
        justify-content: center;

        .special-write {
          width: 40%;
        }
      }

      .background-p {
        color: #ffffff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        letter-spacing: 0.1rem;
      }

      .for-order {
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 0.3rem;
        display: flex;
        justify-content: center;
        padding: 4%;
      }
    }
  }

  .slide2 {
    background-image: url("../../../assets/Images/image\ 50.png");
    background-size: cover;
    width: 100%;
    height: 430px;
  }
}